<h1>BURGER ME!</h1>

<!--for display, remove later-->
<h2>Burgers to Devour</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger_name/burger-block devoured=true }}
    {{/unless}}
  {{/each}}
</ul>

<!--for display, remove later-->
<h2>Burgers eaten!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger_name/burger-block devoured=false }}
        {{/if}}
    {{/each}}
</ul>

<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
